<div class="resources-box">
    <h1 style="color: #802c6e">Resources</h1>
    <h3>FakeStoreAPI provides the 4 essential resources commonly used in e-commerce apps. Use them to build realistic
        flows for your frontend or backend prototypes.
    </h3>
    <div class="resources-list">
        <div class="list">
            <div>
                <span>Products</span>
                <p class="left">List of items with title, price, category, description and image</p>
            </div>
            <p class="right">20 products</p>

        </div>
        <div class="list">
            <div>
                <span>Cart</span>
                <p class="left">Includes full user profiles (name, email, address, etc.)</p>
            </div>
            <p class="right">20 products</p>

        </div>
        <div class="list">
            <div>
                <span>Users</span>
                <p class="left">Simulates shopping cart logic: user + list of product IDs + quantity</p>
            </div>
            <p class="right">20 products</p>

        </div>
        <div class="list">
            <div>
                <span>Login Token</span>
                <p class="left">Returns a JWT token for testing authentication</p>
            </div>
            <p class="right">20 products</p>

        </div>
    </div>
    <div class="button">
        <button class="btn">View detail on Docs</button>
    </div>
</div>