<div class="reviews">
    <h1 style="color: #802c6e">❤️ Loved by Millions of Developers</h1>
    <h3>This is just a small glimpse of your incredible support. so much more kindness and trust has been shared over
        these <strong>5 amazing years</strong> with FakeStoreAPI. <br>Thank you for being part of this journey!
    </h3>

    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h2>Sami Maxhuni</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>🚀 New Feature in ChatWise: Now Powered by Model Context Protocol (MCP) … In this example, we've
                    integrated the <strong>FakeStoreAPI.</strong> ✅ Fetch product data in real time ✅ Display the
                    results in a beautiful
                    interactive carousel ✅ Filter the results via natural language - e.g., “Show me all products under
                    50
                    USD
                </p>
                <a href="[https://dummyapi.io](https://dummyapi.io)">[https://dummyapi.io](https://dummyapi.io)</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Juan Canelon</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>Today I've been practicing with React-Redux making this kinda e-commerce app with</p>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>

        </div>

        <div class="card">

            <div class="card-header">
                <h2>Nikolettai</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>You want to practice or test REST API? Here is the list of websites with fake APIs that can save your
                    time in creating dummy data. 👇
                </p>
                <a href="[https://jsonplaceholder.typicode.com]">[https://jsonplaceholder.typicode.com]</a>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
                <a href="[https://pokeapi.co]">[https://pokeapi.co]</a>
                <a href="[https://reqres.in]">[https://reqres.in]</a>
                <a href="[https://dummyapi.io]">[https://dummyapi.io]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Sami Maxhuni</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>🚀 New Feature in ChatWise: Now Powered by Model Context Protocol (MCP) … In this example, we've
                    integrated the <strong>FakeStoreAPI.</strong> ✅ Fetch product data in real time ✅ Display the
                    results in a beautiful
                    interactive carousel ✅ Filter the results via natural language - e.g., “Show me all products under
                    50
                    USD
                </p>
                <a href="[https://dummyapi.io](https://dummyapi.io)">[https://dummyapi.io](https://dummyapi.io)</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>
        <div class="card">

            <div class="card-header">
                <h2>Nikolettai</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>You want to practice or test REST API? Here is the list of websites with fake APIs that can save your
                    time in creating dummy data. 👇
                </p>
                <a href="[https://jsonplaceholder.typicode.com]">[https://jsonplaceholder.typicode.com]</a>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
                <a href="[https://pokeapi.co]">[https://pokeapi.co]</a>
                <a href="[https://reqres.in]">[https://reqres.in]</a>
                <a href="[https://dummyapi.io]">[https://dummyapi.io]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>Juan Canelon</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>Today I've been practicing with React-Redux making this kinda e-commerce app with</p>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>

         <div class="card">
            <div class="card-header">
                <h2>Sami Maxhuni</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>🚀 New Feature in ChatWise: Now Powered by Model Context Protocol (MCP) … In this example, we've
                    integrated the <strong>FakeStoreAPI.</strong> ✅ Fetch product data in real time ✅ Display the
                    results in a beautiful
                    interactive carousel ✅ Filter the results via natural language - e.g., “Show me all products under
                    50
                    USD
                </p>
                <a href="[https://dummyapi.io](https://dummyapi.io)">[https://dummyapi.io](https://dummyapi.io)</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2>Sami Maxhuni</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>Today i learn about how to search product by Category with HTML, CSS, and JavaScript... uses the
                    fakestoreapi.com API to fetch a list of products… </p>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Juan Canelon</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>Today I've been practicing with React-Redux making this kinda e-commerce app with</p>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>

        </div>

        <div class="card">

            <div class="card-header">
                <h2>Nikolettai</h2>
                <span class="card-icon"><img src="assets/twitter.png" alt="twitter"></span>
            </div>
            <div class="card-content">
                <p>You want to practice or test REST API? Here is the list of websites with fake APIs that can save your
                    time in creating dummy data. 👇
                </p>
                <a href="[https://jsonplaceholder.typicode.com]">[https://jsonplaceholder.typicode.com]</a>
                <a href="[https://fakestoreapi.com]">[https://fakestoreapi.com]</a>
                <a href="[https://pokeapi.co]">[https://pokeapi.co]</a>
                <a href="[https://reqres.in]">[https://reqres.in]</a>
                <a href="[https://dummyapi.io]">[https://dummyapi.io]</a>
            </div>
            <div class="card-footer">
                <span>2022-01-08</span>
            </div>
        </div>
    </div>
</div>